/* MQ */


@media screen and (max-width: 1439px){

    .div1 {
      padding-left: 5.83333vw;
      padding-right: 5.83333vw;
      padding-bottom: 6.25vw;
    }
    .div1vector1 {
      top: 15.55556vw;
      min-height: 41.66667vw;
    }
    .div1vector2 {
      top: -4.16667vw;
      right: 9.30556vw;
      min-height: 65.97222vw;
    }
    .div1vector3 {
      top: 8.33333vw;
      right: -3.47222vw;
      min-height: 55.55556vw;
    }
    .div1vector4 {
      top: 29.09722vw;
      right: -3.47222vw;
      min-height: 32.98611vw;
    }
    .nav {
      padding-top: 3.47222vw;
      margin-bottom: 6.80556vw;
      &__logoimg1 {
        width: 7.08333vw;
        height: 7.15278vw;
        margin-right: 1.04167vw;
      }
      &__logoimg2 {
        width: 5.27778vw;
        height: 3.19444vw;
      }
      &__a {
        font-size: 0.87vw;
        line-height: 1.38889vw;
        &:nth-child(2) {
          margin-left: 2.91667vw;
          margin-right: 2.84722vw;
        }
        &:nth-child(3) {
          margin-right: 2.84722vw;
        }
      }
      &__a::after {
        height: 0.13889vw;
      }
      &__button1 {
        font-size: 0.83333vw;
        padding-left: 2.36111vw;
        padding-right: 2.63889vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        margin-right: 2.63889vw;
      }
      &__button2 {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        padding-left: 2.63889vw;
        padding-right: 2.56944vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
      }
    }
    .main {
      margin-bottom: 7.15278vw;
      &__h1 {
        font-size: 2.77778vw;
        margin-bottom: 1.25vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 3.19444vw;
        margin-bottom: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__para {
        width: 31.25vw;
        height: 5vw;
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        margin-bottom: 2.77778vw;
      }
      &__btn {
        font-size: 0.83333vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
        padding-left: 2.63889vw;
        padding-right: 2.98611vw;
        border-radius: 2.77778vw;
        margin-right: 0.76389vw;
      }
      &__arrowimg {
        width: 6.94444vw;
        height: 6.94444vw;
      }
      &__part2 {
        width: 36.38889vw;
        height: 31.59722vw;
        border-radius: 6.94444vw 6.94444vw 6.94444vw 16.66667vw;
      }
      &__mainimg {
        width: 34.02778vw;
        height: 29.58333vw;
      }
    }
    .contacts {
      box-shadow: 0vw 0.27778vw 0.27778vw rgba(192, 183, 232, 0.01);
      border-radius: 6.25vw;
      padding-top: 1.80556vw;
      padding-bottom: 1.80556vw;
      &__contact {
        &--left {
          margin-left: 2.70833vw;
        }
        &--middle {
          border-left: 0.06944vw solid rgba(192, 183, 232, 0.33);
          border-right: 0.06944vw solid rgba(192, 183, 232, 0.33);
          padding-left: 3.26389vw;
          padding-right: 4.58333vw;
          padding-top: 1.94444vw;
          padding-bottom: 1.94444vw;
        }
        &--right {
          margin-right: 5.55556vw;
        }
      }
      &__img {
        &--img1 {
          width: 4.86111vw;
          height: 4.86111vw;
        }
        &--img2 {
          width: 4.09722vw;
          height: 4.09722vw;
          margin-right: 2.01389vw;
        }
        &--img3 {
          width: 4.51389vw;
          height: 4.51389vw;
          margin-right: 1.66667vw;
        }
      }
      &__h1 {
        font-size: 1.66667vw;
        margin-bottom: 0.69444vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        font-size: 0.97222vw;
      }
    }
    .div2 {
      padding-left: 5.83333vw;
      padding-right: 5.83333vw;
      padding-bottom: 7.70833vw;
    }
    .div2vector1 {
      top: 15.06944vw;
      min-height: 18.19444vw;
    }
    .div2vector2 {
      top: 34.93056vw;
      min-height: 15.20833vw;
    }
    .top {
      margin-bottom: 6.73611vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 0.69444vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 19.58333vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .bottom {
      &__divimg {
        width: 36.38889vw;
        height: 38.68056vw;
      }
      &__img {
        width: 36.38889vw;
      }
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 0.34722vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-bottom: 2.91667vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        width: 43.75vw;
        font-size: 1.11111vw;
        line-height: 1.73611vw;
        margin-bottom: 1.94444vw;
      }
      &__btn {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
      }
    }
    .div3 {
      padding-left: 5.83333vw;
      padding-right: 5.41667vw;
      padding-bottom: 7.91667vw;
    }
    .div3vector1 {
      top: 18.68056vw;
      min-height: 56.94444vw;
    }
    .build1 {
      margin-bottom: 7.08333vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 1.04167vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 19.58333vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .build2 {
      &__part {
        width: 21.52778vw;
        height: 35.48611vw;
        border-radius: 2.77778vw;
      }
      &__divimg {
        width: 15.20833vw;
        height: 15.20833vw;
        margin-top: 1.59722vw;
        margin-bottom: 1.45833vw;
      }
      &__img {
        width: 13.19444vw;
        height: 13.19444vw;
      }
      &__h1 {
        font-size: 1.66667vw;
        padding-bottom: 1.18056vw;
        border-bottom: 0.06944vw solid rgba(192, 183, 232, 0.33);
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        margin-top: 1.45833vw;
        margin-bottom: 2.43056vw;
        width: 17.36111vw;
        font-size: 0.83333vw;
        line-height: 1.38889vw;
      }
      &__btn {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        padding-top: 1.11111vw;
        padding-bottom: 1.18056vw;
        padding-left: 2.70833vw;
        padding-right: 2.70833vw;
      }
    }
    .div4 {
      padding-left: 5.83333vw;
      padding-right: 5.41667vw;
      padding-bottom: 4.79167vw;
    }
    .div4absolute {
      width: 6.94444vw;
      height: 6.94444vw;
      top: 17.15278vw;
      &__divimg {
        width: 4.86111vw;
        height: 4.86111vw;
      }
      &__divimgimg {
        padding: 0.34722vw;
      }
    }
    .div41 {
      width: 88.75vw;
      height: 21.04167vw;
      margin-bottom: 3.125vw;
      &__h1 {
        font-size: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        margin-bottom: 0.76389vw;
      }
      &__h2 {
        font-size: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
    }
    .div42 {
      &__img {
        &--img1 {
          width: 12.08333vw;
          height: 12.08333vw;
        }
        &--img2 {
          width: 17.5vw;
          height: 17.5vw;
          margin-left: 6.31944vw;
          margin-right: 2.43056vw;
        }
        &--img3 {
          width: 18.26389vw;
          height: 18.26389vw;
          margin-left: 2.43056vw;
          margin-right: 3.88889vw;
        }
        &--img4 {
          width: 19.58333vw;
          height: 19.58333vw;
        }
      }
    }
    .div5 {
      padding-left: 6.04167vw;
      padding-right: 5.625vw;
      padding-bottom: 7.77778vw;
    }
    .div5vector1 {
      top: 15.13889vw;
      min-height: 11.73611vw;
    }
    .part1 {
      margin-bottom: 8.26389vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 1.04167vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 23.26389vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .part2 {
      padding-left: 3.75vw;
      padding-right: 4.09722vw;
      &__div {
        width: 13.75vw;
        height: 13.75vw;
      }
      &__number {
        width: 11.04167vw;
        height: 11.04167vw;
        font-size: 4.44444vw;
      }
    }
    .part3 {
      padding-left: 0.76389vw;
      padding-right: 6.31944vw;
      &__img {
        margin-bottom: 1.73611vw;
        width: 4.65278vw;
        height: 4.65278vw;
      }
      &__p1 {
        font-size: 1.66667vw;
        line-height: 2.01389vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
    }
    .div6 {
      padding-left: 5.83333vw;
      padding-right: 5.625vw;
      padding-bottom: 8.47222vw;
    }
    .form {
      padding: 6.25vw 7.63889vw 7.43056vw 5.83333vw;
      width: 88.54167vw;
      height: 70vw;
      box-shadow: 0vw 0.27778vw 0.27778vw rgba(0, 0, 0, 0.25);
      border-radius: 6.94444vw;
      &__h1 {
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        font-size: 2.5vw;
        margin-bottom: 2.08333vw;
      }
      &__vector {
        width: 28.75vw;
        margin-bottom: 1.45833vw;
      }
      &__h2 {
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        font-size: 2.5vw;
        margin-bottom: 4.51389vw;
      }
      &__inputdiv1 {
        margin-bottom: 2.70833vw;
      }
      &__inputname {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-right: 0.34722vw;
      }
      &__inputlastname {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 3.05556vw;
        margin-left: 0.34722vw;
      }
      &__inputdiv2 {
        margin-bottom: 2.29167vw;
      }
      &__email {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-right: 0.41667vw;
      }
      &__number {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-left: 0.41667vw;
      }
      &__subject {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 73.47222vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-bottom: 2.29167vw;
      }
      &__textarea {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 73.47222vw;
        height: 14.58333vw;
        font-size: 0.97222vw;
        line-height: 1.18056vw;
        padding-top: 1.875vw;
        padding-bottom: 1.875vw;
        padding-left: 2.91667vw;
        padding-right: 2.91667vw;
        margin-bottom: 3.54167vw;
      }
      &__button {
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
        font-size: 0.83333vw;
      }
    }
    .div7 {
      padding-left: 5.97222vw;
      padding-right: 5.83333vw;
      padding-bottom: 4.09722vw;
    }
    .div7vector1 {
      top: -2.29167vw;
      min-height: 18.75vw;
    }
    .div7vector2 {
      top: -21.66667vw;
      min-height: 25.55556vw;
    }
    .div77 {
      margin-bottom: 4.86111vw;
      &__logo {
        width: 12.84722vw;
        height: 12.98611vw;
      }
      &__group1 {
        margin-top: 0.34722vw;
      }
      &__group1p1 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p2 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p3 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p4 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p5 {
        font-size: 1.11111vw;
      }
      &__group2 {
        margin-top: 0.34722vw;
      }
      &__group2p1 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p2 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p3 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p4 {
        font-size: 1.11111vw;
      }
      &__group3 {
        margin-top: 0.34722vw;
      }
      &__group3p1 {
        font-size: 1.11111vw;
        margin-bottom: 2.70833vw;
      }
      &__group3images {
        margin-bottom: 3.40278vw;
      }
      &__aimages {
        width: 2.22222vw;
        height: 2.22222vw;
        &:nth-child(1) {
          margin-right: 1.38889vw;
        }
        &:nth-child(2) {
          margin-right: 1.38889vw;
        }
        &:nth-child(3) {
          margin-right: 1.38889vw;
        }
        &:nth-child(4) {
          margin-right: 1.38889vw;
        }
        &:nth-child(5) {
          margin-right: 1.38889vw;
        }
      }
      &__button {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
      }
    }
    .linedivimg {
      width: 88.125vw;
      height: 0.13889vw;
      margin-bottom: 3.40278vw;
    }
    .rights {
      font-size: 0.97222vw;
    }
  
  }
  
  
  
  
  
  
  @media screen and (max-width: 1300px){
  
    .div1 {
      padding-left: 5.83333vw;
      padding-right: 5.83333vw;
      padding-bottom: 6.25vw;
    }
    .div1vector1 {
      top: 15.55556vw;
      max-height: 41.66667vw;
    }
    .div1vector2 {
      top: -4.16667vw;
      right: 9.30556vw;
      max-height: 65.97222vw;
    }
    .div1vector3 {
      top: 8.33333vw;
      right: -3.47222vw;
      max-height: 55.55556vw;
    }
    .div1vector4 {
      top: 29.09722vw;
      right: -3.47222vw;
      max-height: 32.98611vw;
    }
    .nav {
      padding-top: 3.47222vw;
      margin-bottom: 6.80556vw;
      &__logoimg1 {
        width: 7.08333vw;
        height: 7.15278vw;
        margin-right: 1.04167vw;
      }
      &__logoimg2 {
        width: 5.27778vw;
        height: 3.19444vw;
      }
      &__a {
        font-size: 0.87vw;
        line-height: 1.38889vw;
        &:nth-child(2) {
          margin-left: 2.91667vw;
          margin-right: 2.84722vw;
        }
        &:nth-child(3) {
          margin-right: 2.84722vw;
        }
      }
      &__a::after {
        height: 0.13889vw;
      }
      &__button1 {
        font-size: 0.83333vw;
        padding-left: 2.36111vw;
        padding-right: 2.63889vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        margin-right: 2.63889vw;
      }
      &__button2 {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        padding-left: 2.63889vw;
        padding-right: 2.56944vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
      }
    }
    .main {
      margin-bottom: 7.15278vw;
      &__h1 {
        font-size: 2.77778vw;
        margin-bottom: 1.25vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 3.19444vw;
        margin-bottom: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__para {
        width: 31.25vw;
        height: 5vw;
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        margin-bottom: 2.77778vw;
      }
      &__btn {
        font-size: 0.83333vw;
        padding-top: 1.18056vw;
        padding-bottom: 1.11111vw;
        padding-left: 2.63889vw;
        padding-right: 2.98611vw;
        border-radius: 2.77778vw;
        margin-right: 0.76389vw;
      }
      &__arrowimg {
        width: 6.94444vw;
        height: 6.94444vw;
      }
      &__part2 {
        width: 36.38889vw;
        height: 31.59722vw;
        border-radius: 6.94444vw 6.94444vw 6.94444vw 16.66667vw;
      }
      &__mainimg {
        width: 34.02778vw;
        height: 29.58333vw;
      }
    }
    .contacts {
      box-shadow: 0vw 0.27778vw 0.27778vw rgba(192, 183, 232, 0.01);
      border-radius: 6.25vw;
      padding-top: 1.80556vw;
      padding-bottom: 1.80556vw;
      &__contact {
        &--left {
          margin-left: 2.70833vw;
        }
        &--middle {
          border-left: 0.06944vw solid rgba(192, 183, 232, 0.33);
          border-right: 0.06944vw solid rgba(192, 183, 232, 0.33);
          padding-left: 3.26389vw;
          padding-right: 4.58333vw;
          padding-top: 1.94444vw;
          padding-bottom: 1.94444vw;
        }
        &--right {
          margin-right: 5.55556vw;
        }
      }
      &__img {
        &--img1 {
          width: 4.86111vw;
          height: 4.86111vw;
        }
        &--img2 {
          width: 4.09722vw;
          height: 4.09722vw;
          margin-right: 2.01389vw;
        }
        &--img3 {
          width: 4.51389vw;
          height: 4.51389vw;
          margin-right: 1.66667vw;
        }
      }
      &__h1 {
        font-size: 1.66667vw;
        margin-bottom: 0.69444vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        font-size: 0.97222vw;
      }
    }
    .div2 {
      padding-left: 5.83333vw;
      padding-right: 5.83333vw;
      padding-bottom: 7.70833vw;
    }
    .div2vector1 {
      top: 15.06944vw;
      min-height: 18.19444vw;
    }
    .div2vector2 {
      top: 34.93056vw;
      min-height: 15.20833vw;
    }
    .top {
      margin-bottom: 6.73611vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 0.69444vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 19.58333vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .bottom {
      &__divimg {
        width: 36.38889vw;
        height: 38.68056vw;
      }
      &__img {
        width: 36.38889vw;
      }
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 0.34722vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-bottom: 2.91667vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        width: 43.75vw;
        font-size: 1.11111vw;
        line-height: 1.73611vw;
        margin-bottom: 1.94444vw;
      }
      &__btn {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
      }
    }
    .div3 {
      padding-left: 5.83333vw;
      padding-right: 5.41667vw;
      padding-bottom: 7.91667vw;
    }
    .div3vector1 {
      top: 18.68056vw;
      max-height: 56.94444vw;
    }
    .build1 {
      margin-bottom: 7.08333vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 1.04167vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 19.58333vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .build2 {
      &__part {
        width: 21.52778vw;
        height: 35.48611vw;
        border-radius: 2.77778vw;
      }
      &__divimg {
        width: 15.20833vw;
        height: 15.20833vw;
        margin-top: 1.59722vw;
        margin-bottom: 1.45833vw;
      }
      &__img {
        width: 13.19444vw;
        height: 13.19444vw;
      }
      &__h1 {
        font-size: 1.66667vw;
        padding-bottom: 1.18056vw;
        border-bottom: 0.06944vw solid rgba(192, 183, 232, 0.33);
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__p {
        margin-top: 1.45833vw;
        margin-bottom: 2.43056vw;
        width: 17.36111vw;
        font-size: 0.83333vw;
        line-height: 1.38889vw;
      }
      &__btn {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        padding-top: 1.11111vw;
        padding-bottom: 1.18056vw;
        padding-left: 2.70833vw;
        padding-right: 2.70833vw;
      }
    }
    .div4 {
      padding-left: 5.83333vw;
      padding-right: 5.41667vw;
      padding-bottom: 4.79167vw;
    }
    .div4absolute {
      width: 6.94444vw;
      height: 6.94444vw;
      top: 17.15278vw;
      &__divimg {
        width: 4.86111vw;
        height: 4.86111vw;
      }
      &__divimgimg {
        padding: 0.34722vw;
      }
    }
    .div41 {
      width: 88.75vw;
      height: 21.04167vw;
      margin-bottom: 3.125vw;
      &__h1 {
        font-size: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        margin-bottom: 0.76389vw;
      }
      &__h2 {
        font-size: 2.5vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
    }
    .div42 {
      &__img {
        &--img1 {
          width: 12.08333vw;
          height: 12.08333vw;
        }
        &--img2 {
          width: 17.5vw;
          height: 17.5vw;
          margin-left: 6.31944vw;
          margin-right: 2.43056vw;
        }
        &--img3 {
          width: 18.26389vw;
          height: 18.26389vw;
          margin-left: 2.43056vw;
          margin-right: 3.88889vw;
        }
        &--img4 {
          width: 19.58333vw;
          height: 19.58333vw;
        }
      }
    }
    .div5 {
      padding-left: 6.04167vw;
      padding-right: 5.625vw;
      padding-bottom: 7.77778vw;
    }
    .div5vector1 {
      top: 15.13889vw;
      max-height: 11.73611vw;
    }
    .part1 {
      margin-bottom: 8.26389vw;
      &__h1 {
        font-size: 2.5vw;
        margin-bottom: 1.04167vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__h2 {
        font-size: 2.5vw;
        margin-right: 2.08333vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
      &__img {
        width: 15.83333vw;
        height: 6.94444vw;
        left: 23.26389vw;
      }
      &__p {
        font-size: 1.11111vw;
        line-height: 1.38889vw;
        width: 45.13889vw;
      }
    }
    .part2 {
      padding-left: 3.75vw;
      padding-right: 4.09722vw;
      &__div {
        width: 13.75vw;
        height: 13.75vw;
      }
      &__number {
        width: 11.04167vw;
        height: 11.04167vw;
        font-size: 4.44444vw;
      }
    }
    .part3 {
      padding-left: 0.76389vw;
      padding-right: 6.31944vw;
      &__img {
        margin-bottom: 1.73611vw;
        width: 4.65278vw;
        height: 4.65278vw;
      }
      &__p1 {
        font-size: 1.66667vw;
        line-height: 2.01389vw;
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
      }
    }
    .div6 {
      padding-left: 5.83333vw;
      padding-right: 5.625vw;
      padding-bottom: 8.47222vw;
    }
    .form {
      padding: 6.25vw 7.63889vw 7.43056vw 5.83333vw;
      width: 88.54167vw;
      height: 70vw;
      box-shadow: 0vw 0.27778vw 0.27778vw rgba(0, 0, 0, 0.25);
      border-radius: 6.94444vw;
      &__h1 {
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        font-size: 2.5vw;
        margin-bottom: 2.08333vw;
      }
      &__vector {
        width: 28.75vw;
        margin-bottom: 1.45833vw;
      }
      &__h2 {
        text-shadow: 0.20833vw 0.27778vw 0.48611vw rgba(0, 0, 0, 0.8);
        font-size: 2.5vw;
        margin-bottom: 4.51389vw;
      }
      &__inputdiv1 {
        margin-bottom: 2.70833vw;
      }
      &__inputname {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-right: 0.34722vw;
      }
      &__inputlastname {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 3.05556vw;
        margin-left: 0.34722vw;
      }
      &__inputdiv2 {
        margin-bottom: 2.29167vw;
      }
      &__email {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-right: 0.41667vw;
      }
      &__number {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 36.38889vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-left: 0.41667vw;
      }
      &__subject {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 73.47222vw;
        height: 5vw;
        font-size: 0.97222vw;
        padding-left: 2.91667vw;
        margin-bottom: 2.29167vw;
      }
      &__textarea {
        border: 0.13889vw solid #ffffff;
        border-radius: 2.77778vw;
        width: 73.47222vw;
        height: 14.58333vw;
        font-size: 0.97222vw;
        line-height: 1.18056vw;
        padding-top: 1.875vw;
        padding-bottom: 1.875vw;
        padding-left: 2.91667vw;
        padding-right: 2.91667vw;
        margin-bottom: 3.54167vw;
      }
      &__button {
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
        font-size: 0.83333vw;
      }
    }
    .div7 {
      padding-left: 5.97222vw;
      padding-right: 5.83333vw;
      padding-bottom: 4.09722vw;
    }
    .div7vector1 {
      top: -2.29167vw;
      max-height: 18.75vw;
    }
    .div7vector2 {
      top: -21.66667vw;
      max-height: 25.55556vw;
    }
    .div77 {
      margin-bottom: 4.86111vw;
      &__logo {
        width: 12.84722vw;
        height: 12.98611vw;
        align-self: center;
      }
      &__group1 {
        margin-top: 0.34722vw;
        justify-content: center;
      }
      &__group1p1 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p2 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p3 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p4 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group1p5 {
        font-size: 1.11111vw;
      }
      &__group2 {
        margin-top: 0.34722vw;
        justify-content: center;
      }
      &__group2p1 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p2 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p3 {
        font-size: 1.11111vw;
        margin-bottom: 1.875vw;
      }
      &__group2p4 {
        font-size: 1.11111vw;
      }
      &__group3 {
        margin-top: 0.34722vw;
        justify-content: center;
      }
      &__group3p1 {
        font-size: 1.11111vw;
        margin-bottom: 2.70833vw;
      }
      &__group3images {
        margin-bottom: 3.40278vw;
      }
      &__aimages {
        width: 2.22222vw;
        height: 2.22222vw;
        &:nth-child(1) {
          margin-right: 1.38889vw;
        }
        &:nth-child(2) {
          margin-right: 1.38889vw;
        }
        &:nth-child(3) {
          margin-right: 1.38889vw;
        }
        &:nth-child(4) {
          margin-right: 1.38889vw;
        }
        &:nth-child(5) {
          margin-right: 1.38889vw;
        }
      }
      &__button {
        font-size: 0.83333vw;
        border-radius: 2.77778vw;
        width: 14.86111vw;
        height: 3.33333vw;
      }
    }
    .linedivimg {
      width: 88.125vw;
      height: 0.13889vw;
      margin-bottom: 3.40278vw;
    }
    .rights {
      font-size: 0.97222vw;
    }
  
  }
  
  
  @media screen and (max-width: 930px){
  
    .div1{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div2{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div3{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div4{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div5{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div6{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div7{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div77 { 
      z-index: 10;
      &__vector1 { 
          max-height: 160px;
          color: #FFFFFF;
      }
      &__vector2 { 
          max-height: 160px;
          color: #FFFFFF;
      }
      &__vector3 { 
          max-height: 160px;
          color: #FFFFFF;
      }
    }
    .nav {
      padding-top: 3.47222vw;
      margin-bottom: 6.80556vw;
      &__logoimg1 {
        width: 7.28333vw;
        height: 7.35278vw;
        margin-right: 1.04167vw;
      }
      &__logoimg2 {
        width: 5.47778vw;
        height: 3.39444vw;
      }
      &__a {
        font-size: 0.92vw;
        line-height: 1.38889vw;
        &:nth-child(2) {
          margin-left: 2.91667vw;
          margin-right: 2.84722vw;
        }
        &:nth-child(3) {
          margin-right: 2.84722vw;
        }
      }
      &__a::after {
        height: 0.13889vw;
      }
      &__button1 {
        font-size: 0.85333vw;
        padding-left: 2.38111vw;
        padding-right: 2.65889vw;
        padding-top: 1.20056vw;
        padding-bottom: 1.13111vw;
        border: 0.16889vw solid #ffffff;
        border-radius: 2.79778vw;
        margin-right: 2.65889vw;
      }
      &__button2 {
        font-size: 0.83333vw;
        border-radius: 2.79778vw;
        padding-left: 2.65889vw;
        padding-right: 2.58944vw;
        padding-top: 1.20056vw;
        padding-bottom: 1.13111vw;
      }
    }
  }
  
  
  @media screen and (max-width: 800px){
  
    .div1{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div2{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div3{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div4{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div5{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div6{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div7{
      padding-left: 2%;
      padding-right: 2%;
    }
    .div77 { 
      z-index: 10;
      &__vector1 { 
          max-height: 130px;
          color: #FFFFFF;
      }
      &__vector2 { 
          max-height: 130px;
          color: #FFFFFF;
      }
      &__vector3 { 
          max-height: 130px;
          color: #FFFFFF;
      }
    }
    .nav {
      padding-top: 3.47222vw;
      margin-bottom: 6.80556vw;
      &__logoimg1 {
        width: 7.28333vw;
        height: 7.35278vw;
        margin-right: 1.04167vw;
      }
      &__logoimg2 {
        width: 5.47778vw;
        height: 3.39444vw;
      }
      &__a {
        font-size: 0.98vw;
        line-height: 1.38889vw;
        &:nth-child(2) {
          margin-left: 2.91667vw;
          margin-right: 2.84722vw;
        }
        &:nth-child(3) {
          margin-right: 2.84722vw;
        }
      }
      &__a::after {
        height: 0.13889vw;
      }
      &__button1 {
        font-size: 0.85333vw;
        padding-left: 2.38111vw;
        padding-right: 2.65889vw;
        padding-top: 1.20056vw;
        padding-bottom: 1.13111vw;
        border: 0.16889vw solid #ffffff;
        border-radius: 2.79778vw;
        margin-right: 2.65889vw;
      }
      &__button2 {
        font-size: 0.83333vw;
        border-radius: 2.79778vw;
        padding-left: 2.65889vw;
        padding-right: 2.58944vw;
        padding-top: 1.20056vw;
        padding-bottom: 1.13111vw;
      }
    }
  }